/*GLOBAL CSS*/
img{
  width: 100%;
  height:auto;

}

ul, a, li{
  text-decoration: none;
  list-style: none;
  color: black;
 }

.top-footer{
  width: 100%;
}

/*navbar*/
.top-nav{
  display: flex;
  justify-content:baseline;
  align-items:center;
  margin-left: 60px;;
  margin-right: 60px;
  
}

.navicons{
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40%;
}

.hamburger, .loupe{
  width: 30px;
}

.langagues{
  display: flex;
  align-items: center;
  gap: 2em;
  font-size: 10px;
}

.login-buttons{
  display: flex;
  justify-content: space-around;
  align-items: end;
  gap: 2em;
  color: aliceblue;
}

.b1, .b2{
  background-color: #567B95;
  font-size: 11px;
  padding: 8px 12px 8px 12px;
  border: 1px solid #326891
}

/*HEADER*/
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  align-content: space-evenly;
  align-items:center;
  gap: 1%;
}
.headerimg{
  width: 50%;

}

.date{
font-size: 12px;
}

.weather, .weather2{
display: flex;
gap: 30px;
font-size: 12px;
}

.sun{
  width:10px;
  height: 10px;
}

.categories{
  display: flex;
  justify-content:baseline;
  align-items:center;
  margin-left: 80px;
  margin-right: 80px;
  border-top: 1.5px solid lightgray;
  
}

.categories1, .categories2{
  display: flex;
  align-items: center;
  gap: 2em;
  font-size: 10px;
}

.categories2{
  border-left: 1.5px solid lightgray;
  padding: 7px;
}



/*MAIN*/
body{
  display: grid;
  font-family: 'Libre Franklin';
}







/*TOP BOTTOM*/
.footer{
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  margin-left:10px;
  margin-right: 10px;
 border-top: 8px double rgb(224, 220, 220);
 margin-left:60px;
 margin-right: 60px;
 font-size: 10px;
}

.top-footer{
  display: flex;
  align-items:flex-start;
  margin-left:10px;
  margin-right: 10px;

}

.nav-footer{
  display: flex;
  justify-content: baseline;
  align-items:flex-start;
  gap: 7%;
  margin-left:-50px;
}

.footer-sub{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left:9em;
  border-left: 1px solid grey;
}

.divider{
  margin: 8px;
  border-bottom: 1px solid grey
}

.footer-sub > ul {
  text-decoration: none;
  list-style: none;
}


/*BOTTOM FOOTER*/
.nav-links{
  font-family: 'Libre Franklin';
  display: flex;
  justify-content: space-around;
  color: grey;
  border-top: 0.5px solid grey;
  list-style: none;
  padding: 2em;
  margin: 2px;;
  font-size: 0.5em;
}


