ul li {
  text-decoration: none;
}

.top-footer{
  width: 100%;
}

img{
  max-width:100vh;
}


/*TOP BOTTOM*/
.top-footer{
  display: flex;
  justify-content: center;
  align-items:center;
}

/*BOTTOM FOOTER*/
.bottom-footer{
  display: flex;
  justify-content: center;
  align-items:center;
  color: grey;
  border-top: 0.5px solid grey
}
.bottom-footer li{
  align-items: center;
  font-size: 0.7em;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  list-style: none;
}